header {
    background-color: var(--white);
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 36px 15px;
}

nav, nav ul {
    display: flex;
    gap: 52px;
}

.header__icons {
    display: flex;
    gap: 32px;
}

/* -- Media Queries -- */
@media (max-width: 766px) {
    nav {
        display: none;
    }

    header .container {
        justify-content: center;
    }
}